# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.coverage
htmlcov/
.env*
!.env.example

# Node
node_modules/
.next
.next/
*.log
*.tsbuildinfo
.cache/
dist/
build/

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Project specific
_tmp/
data/

.vercel
.aider*

pass*txt
entries.json
treatments.json
*tar
*gz

# Ignore Python virtual environments
venv/
.venv/
.aicodeprep-gui
goodnumbers-workspace2/
proof_of_concept/
commit_message.txt
*patch
*swp
repomix*
