# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.coverage
htmlcov/
.env*
!.env.example

# Node
node_modules/
.next
.next/
*.log
.cache/
dist/
build/

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Project specific
_tmp/
data/

.vercel