compress-json-python==3.0.0
compress_json==1.1.1
fastapi==0.115.2
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-cloud-texttospeech==2.20.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
numpy==2.1.2
pandas==2.2.3
protobuf==5.28.2
pydantic==2.9.2
ruptures==1.1.9